body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

h1,
h3 {
    background-color: brown;
    color: white;
    font-weight: 400;
    text-align: center;
}

a.home {
    text-align: center;
}