body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

h1,
h3 {
    background-color: brown;
    color: white;
    font-weight: 400;
    text-align: center;
}

h3 {
    font-size: 20px;
}

img {
    width: 400px;
    height: auto;
}

button {
    background-color: black;
    color: white;
    font-size: 18px;
}

.recipe-link {
    font-size: 20px;
}

.ziti {
    outline: 2px solid red;
    margin: 40%;
    color: red
}

.brie {
    outline: 2px dotted black;
    margin: 18%;
    padding: 10px;
    color: green;
    font-family: 'Times New Roman', Verdana, sans-serif;
}

.orange{
    color: orange;
}

/*  * {
    outline: 2px solid red;
} */