body {
    background-color: lightgray;
}

.flex-container{
    background-color: grey;
    border: 2px solid rgb(42, 95, 165);
    display: flex;
}

.item{
    border: 2px solid rgb(42, 95, 165);
    background-color: beige;
    height: 48px;
    margin: 4px auto;
    flex: 1;
    display: flex;
}

.recipe-link {
    text-decoration: none;
    margin: auto;
    font-family:'Times New Roman', Times, serif;
    color: black;
}

h1,
h3 {
    background-color: rgb(42, 95, 165);
    color: white;
    font-weight: 400;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-size: 20px;
}

img {
    width: 400px;
    height: auto;
}

button {
    background-color: black;
    color: white;
    font-size: 18px;
}



/*  * {
    outline: 2px solid red;
} */